@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.lbl-add-contact{
  margin-right: 20px;
}
.btn-add-contact{
  margin-left:20px;
}
