@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.lbl-add-contact{
  margin-right: 20px;
}
.btn-add-contact{
  margin-left:20px;
}
.divElement-style{
  margin-top:20px;
  height: 200px;
  overflow-x: auto;
  overflow-y: scroll;
}
.history-item{
  display: block;
  margin-top:10px;
}
.lblId-style{
  margin-right: 20px;
}
.lblTitle-style{
  color:#0061ff;
}
.mr-10{
  margin-right: 10px;
}
.mt-10{
  margin-top: 12px;
}
.fdl-style{
  width: 95%;
  margin-top:25px;
}
