@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

.lbl-add-contact{
  margin-right: 20px;
}
.btn-add-contact{
  margin-left:20px;
}
.divElement-style{
  margin-top:20px;
  height: 200px;
  overflow-x: auto;
  overflow-y: scroll;
}
.history-item{
  display: block;
  margin-top:10px;
}
.lblId-style{
  margin-right: 20px;
}
.lblTitle-style{
  color:#0061ff;
}
.mr-10{
  margin-right: 10px;
}
.mt-10{
  margin-top: 12px;
}
.fdl-style{
  width: 95%;
  margin-top:25px;
}
.tbl-getThreads{
  text-align: right;
  border:none;
}
.tbl-getThreads td{
  border: none;
  padding:7px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}
.threads-content{
  display: flex;
  direction: rtl;
  height: 500px;
  border:1px solid #ccc;
  text-align: right;
}
.threads-content div{
  padding: 5px;
}
.rightPart{
  flex-grow: 1;
  overflow: scroll;
  direction: ltr;
}
.leftPart{
  flex-grow: 1;
  border-right:1px solid #ccc;
  overflow: scroll;
  direction: ltr;
  text-align: right;
}
.notifStyle{
  width: 14px;
  height: 12px;
  border:1px solid red;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  background-color: red;
  position: absolute;
  left: 5px;
  bottom: 5px;
  text-align: center;
}

